/*
-----------
  Colors
-----------
*/
$c-background: #202124;
$c-search-border: #5f6368;
$c-hover-background: #2e2f33;
$c-search-button-background: #303134;
$c-search-button-text: #e8eaed;
$c-language-link: #8ab4f8;
$c-footer-background: #171717;
$c-footer-text: #999da2;
$c-footer-border: #3c4043;
